{% extends "checkout/preview.html" %}
{% load currency_filters %}
{% load i18n %}
{% load url from future %}
{% load thumbnail %}

{# Null out the actions as they can't be used here #}
{% block shipping_address_actions %}{% endblock %}
{% block shipping_method_actions %}{% endblock %}
{% block order_contents_actions %}{% endblock %}

{% block payment_method %}
    <div class="col-sm-6">
        <div class="sub-header">
            <h2>{% trans "Payment" %}</h2>
        </div>
        <div class="well well-success">
            <h4>{% trans "Card Payment" %}</h4>
            <p>
              On the next page you will be prompted for payment details.
              {{ order_total.incl_tax|currency:basket.currency }} will be charged to your selected card.
            </p>
        </div>
    </div>
{% endblock %}

